
.contaner{
 
  padding-top: 30px;
  color: black;
 background-color:#eee

}
p.img5{
  text-align: left;
  color:dimgray;
 
}
img.img5{
  padding-left: 60px;
  float: left;
  margin: 0 15px 0 100px;
}
.feature_img{
  position: relative;
  margin:auto;
  border-radius: 6px;
  padding-left: 9cm;
  overflow: hidden;
}
.text h2{
  align-items: center;
  color: 		rgb(233, 116, 81);
  padding-top: 30px;

  text-align: center;
  font-size: 30px;
}
.text p{
  
  padding-left: 7cm;
  padding-right: 7cm;
  padding-bottom: 30px;
  text-align: center;
  color: rgb(106, 106, 109);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 15%;
}
.p2{
  padding-top: 30px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 
 padding-left: 7cm;
 padding-right: 7cm;
  font-size: 12px;
  color: gray;
  font-weight: 500;
} 
.play-button{
  width: 10%;
  position: absolute;
  top: 50%;
  left: 45%;
  right: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}
.vid{
  padding-top: 50px;
}
#droit{
  float: right;
  padding-right: 200px;
  position: relative;


}
#gauche{
  float: left;
  padding-left: 200px;
 position: relative;
}
body{
  margin-top:20px;
  background:#eee;
  background-image: url("salle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card.img{
  border-radius: 50%
}
.card::after {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: calc(100% - 40px);
  height: 35px;
  background-color: #fff;
  -webkit-box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  box-shadow: 0 19px 28px 5px rgba(64,64,64,0.09);
  content: '';
  z-index: -1;
}
a.card {
  text-decoration: none;
}

.card {
  position: relative;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09);
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: .25rem;
}

.box-shadow {
  -webkit-box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
  box-shadow: 0 12px 20px 1px rgba(64,64,64,0.09) !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.bg-white {
  background-color: #fff !important;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}
.d-block {
  display: block !important;
}
img, figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.card-text {
  padding-top: 12px;
  color: #8c8c8c;
}

.text-sm {
  font-size: 12px !important;
}
p, .p {
  margin: 0 0 16px;
}

.card-title {
  margin: 0;
  font-family: "Montserrat",sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.pt-1, .py-1 {
  padding-top: .25rem !important;
}

.head-icon{
  margin-top:18px;
  color:#FF4500
}