<app-headeruser></app-headeruser>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">
                        Commencer</h1>
                    <p class="lead">
                        Start creating the best possible event with good experience.
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form #registerform="ngForm" (ngSubmit)="insription()">
                                
                               <div class="form-group">
                                    
                                    <input class="form-control form-control-lg"  type="text" name="nom" placeholder="Nom" [(ngModel)]="client.nom" required #nom="ngModel" [class.is-invalid]="nom.invalid && nom.touched " >
                                    <small class="text-danger" [class.d-none]="nom.valid||nom.untouched">l'identifiant de nom est un champ obligatoire</small>
                                </div>
                                <br>
                                <div class="form-group">
                                    
                                    <input class="form-control form-control-lg"  type="text" name="prénom" placeholder="Prenom" [(ngModel)]="client.prenom" required #prenom="ngModel" [class.is-invalid]="prenom.invalid && prenom.touched ">
                                    <small class="text-danger" [class.d-none]="prenom.valid||prenom.untouched">l'identifiant de prenom est un champ obligatoire</small>
                                </div>
                                <br>
                                <div class="form-group">
                                    
                                    <input class="form-control form-control-lg" type="email"  placeholder="Enter your email" [(ngModel)]="client.email" name="email" required #email="ngModel" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                                    [class.is-invalid]="email.invalid && email.touched "
                                    >

                                    <!--<small class="text-danger" [class.d-none]="email.valid || email.untouched ">l'identifiant de l'e-mail est un champ obligatoire</small>!-->
                                    <div *ngIf="email.errors && (email.invalid && email.touched )">
                                        <small class="text-danger" *ngIf="email.errors.required">l'identifiant de l'e-mail est un champ obligatoire</small>
                                        <small class="text-danger" *ngIf="email.errors.pattern">entez email valide</small>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    
                                    <input class="form-control form-control-lg" type="password" name="Password" placeholder="mot de passe " required [(ngModel)]="client.password" minlength="6"
                                    #password="ngModel" [class.is-invalid]="password.invalid && password.touched ">
                                    <small class="text-danger" *ngIf="password.invalid && password.touched">mot de passe est un champ obligatoire</small>
                                    <small class="text-danger" *ngIf="password.errors?.minlength">password size most be 6 character</small>
                                </div>
                                <br>
                                <div class="form-group">
                                   
                                    <input class="form-control form-control-lg"  type="password" name="confirme" placeholder="Confirme mot de Passe" (ngModel)="client.password" required
                                    #confirme="ngModel" [class.is-invalid]="confirme.invalid && confirme.touched ">
                                    <small class="text-danger" [class.d-none]="(confirme.value==password.value)||confirme.untouched">le mot de passe de confirmation doivent être certains</small>
                                    
                                </div>
                                <br>
                                <div class="form-group">
                                    
                                    <input class="form-control form-control-lg"  type="text" name="numtel" placeholder="N° De Telephone" [(ngModel)]="client.telephon" #telephon="ngModel" pattern="[0-9]{8}" required [class.is-invalid]="telephon.invalid && telephon.touched ">
                                    <small class="text-danger" [class.d-none]="telephon.valid||telephon.untouched">n° Telephone est un champ obligatoire</small>
                                </div>
                                <br>
                                <div class="form-group">
                                    
                                    <input class="form-control form-control-lg"  type="text" name="ville" placeholder="ville" [(ngModel)]="client.ville" #ville="ngModel" required [class.is-invalid]="ville.invalid && ville.touched ">
                                    <small class="text-danger" [class.d-none]="ville.valid||ville.untouched">ville est un champ obligatoire</small>
                                    
                                </div>
                                <br>
                                
                                <br>
                                <div class="form-group">
                                    
                                    <input class="form-control form-control-lg"  type="text" name="Région" placeholder="Région" [(ngModel)]="client.region" required #region="ngModel" >
                                    <small class="text-danger" [class.d-none]="region.valid||region.untouched">Region est un champ obligatoire</small>
                                </div>
                                <br>
                                <div class="form-group">
                                    
                                    <input class="form-control form-control-lg"  type="text" name="Adresse" placeholder="Adresse" [(ngModel)]="client.adresse" #adresse="ngModel"  required>
                                    <small class="text-danger" [class.d-none]="adresse.invalid||adresse.touched">adresse est un champ obligatoire</small>
                                </div>

                                <div class="text-center mt-3">
                                     <button [disabled]="registerform.form.invalid" type="submit" class="btn btn-lg btn-info">Sign up</button>
                                </div>
                            </form> <br>
                            <a *ngIf="msg==='register failer cause email already exist'" style="background: red;width: 100px;" rb=true>{{msg}}</a><br>
                            <a *ngIf="msg==='register succè'" style="background: rgb(18, 224, 18);width: 100px" rb=true>{{msg}}</a><br>
                            <button *ngIf="msg" class="btn btn-lg btn-info" [routerLink]="['/']">BACK</button>
                            <button *ngIf="msg" class="btn btn-lg btn-info" [routerLink]="['/login']">connection</button>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>